.navbar-main{
    background-color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    width: 100vw;
    border-radius: 0 0 15px 15px;
}

.navbar-buttons-container{
    display: flex;
    gap: 0.5rem;
}

.navbar-buttons{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.navbar-slogan{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    padding: 0;
}