.navbar-main{
    background-color: #0099ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem 0.6rem;
}

.navbar-buttons-container{
    display: flex;
    gap: 0.5rem;
}

.navbar-slogan{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    padding: 0;
}